.page {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 750px;
  overflow: hidden;
}
.block {
  display: flex;
  position: absolute;
  top: 0px;
  align-items: center;
  align-self: center;
  justify-content: center;
}
.banner {
  width: 750px;
  height: 460px;
}
.hd {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-size: contain;
  background-image: url(https://img.alicdn.com/imgextra/i4/O1CN017Th4x91CNBbD9ej7N_!!6000000000068-2-tps-1500-352.png);
  width: 750px;
  height: 176px;
}
.normalDiv {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-top: 26px;
  margin-left: 50px;
  width: 672px;
  height: 40px;
}
.txt {
  line-height: 28px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
}
.normalDiv1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1px;
}
.mark {
  margin-top: 1px;
  margin-right: 10px;
  width: 35px;
  height: 22px;
}
.iconWifi {
  margin-right: 9px;
  width: 31px;
  height: 23px;
}
.block1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  margin-right: 2px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5.333333492279052px;
  border-color: rgba(255, 255, 255, 0.35);
  width: 44px;
  height: 22px;
}
.color {
  border-radius: 2.666666746139526px;
  background-color: #ffffff;
  width: 36px;
  height: 14px;
}
.dot {
  margin-top: 1px;
  width: 3px;
  height: 8px;
}
.normalDiv2 {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-top: 42px;
}
.normalDiv3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 231px;
  background-size: contain;
  background-image: url(https://img.alicdn.com/imgextra/i2/O1CN01CGA1Mx1lQOw3D6mni_!!6000000004813-2-tps-96-96.png);
  width: 48px;
  height: 48px;
}
.icon {
  width: 20px;
  height: 36px;
}
.logo {
  margin-top: -2px;
  margin-right: 231px;
  width: 144px;
  height: 42px;
}
.normalDiv4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-image: url(https://img.alicdn.com/imgextra/i3/O1CN01FMFaE71jENInBF32M_!!6000000004516-2-tps-96-96.png);
  width: 48px;
  height: 48px;
}
.icon1 {
  margin-top: 1px;
  margin-right: 6px;
  width: 7px;
  height: 7px;
}
.icon2 {
  margin-top: 1px;
  margin-right: 6px;
  width: 7px;
  height: 7px;
}
.icon3 {
  margin-top: 1px;
  width: 7px;
  height: 7px;
}
.bd {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
  width: 750px;
  height: 88px;
  overflow: hidden;
}
.normalDiv5 {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 24px;
  margin-left: 24px;
  height: 40px;
}
.word {
  margin-right: 48px;
  line-height: 36px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
}
.text {
  margin-right: 48px;
  line-height: 32px;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.8);
  font-size: 32px;
}
.txt1 {
  margin-right: 48px;
  line-height: 32px;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.8);
  font-size: 32px;
}
.word1 {
  line-height: 32px;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.8);
  font-size: 32px;
}
.colorDiv {
  position: relative;
  margin-top: 10px;
  margin-left: 42px;
  border-radius: 3px;
  background-color: #fee900;
  width: 36px;
  height: 6px;
}
.main {
  display: flex;
  position: relative;
  align-items: flex-start;
  align-self: center;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 24px;
  background-color: #ffffff;
  width: 702px;
  height: 650px;
  overflow: hidden;
}
.color1 {
  position: absolute;
  top: 206px;
  left: 24px;
  border-radius: 12px;
  background-color: #f5f5f5;
  width: 319px;
  height: 319px;
  overflow: hidden;
}
.icon4 {
  position: absolute;
  top: 82px;
  left: 124px;
  width: 25px;
  height: 21px;
  overflow: hidden;
}
.normalDiv6 {
  display: flex;
  position: relative;
  align-items: flex-start;
  align-self: center;
  margin-top: 30px;
}
.normalDiv7 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 16px;
  border-radius: 40px;
  background-color: rgba(51, 51, 51, 0.03);
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.largeIcon {
  margin-top: 17px;
  width: 68px;
  height: 55px;
}
.normalDiv8 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 4px;
  margin-right: 10px;
  width: 214px;
}
.shopTitle {
  position: relative;
  align-self: center;
  max-width: 214px;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 34px;
  white-space: nowrap;
  color: #333333;
  font-size: 30px;
  font-weight: 500;
}
.block2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-top: 5px;
}
.count {
  position: absolute;
  top: 6px;
  left: 38px;
  line-height: 28px;
  white-space: nowrap;
  color: #f2aa00;
  font-size: 24px;
  font-weight: 600;
}
.group {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 36px;
  background-size: contain;
  background-image: url(https://img.alicdn.com/imgextra/i4/O1CN016kEOsf1sXujwF668T_!!6000000005777-2-tps-100-100.png);
  width: 50px;
  height: 50px;
}
.icon5 {
  margin-top: 1px;
  width: 10px;
  height: 9px;
  overflow: hidden;
}
.word2 {
  position: relative;
  margin-top: 5px;
  line-height: 28px;
  white-space: nowrap;
  color: #999999;
  font-size: 24px;
  font-weight: 300;
}
.label {
  margin-top: 9px;
  margin-right: 10px;
  width: 48px;
  height: 24px;
}
.normalDiv9 {
  display: flex;
  align-items: center;
  margin-top: 9px;
  margin-right: 36px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #ffacbc;
  background-color: #ffffff;
  width: 84px;
  height: 24px;
}
.txtBenifit {
  margin-left: 5px;
  line-height: 18px;
  white-space: nowrap;
  color: #ff4d70;
  font-size: 18px;
}
.buttonWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-right: 28px;
  border-width: 2px;
  border-style: solid;
  border-radius: 24px;
  border-color: #ff9500;
  width: 110px;
  height: 48px;
}
.button {
  max-width: 98px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 26px;
  white-space: nowrap;
  color: #ff9500;
  font-size: 26px;
}
.icon6 {
  margin-top: 35px;
  width: 18px;
  height: 10px;
}
.icon7 {
  position: absolute;
  top: 76px;
  left: 116px;
  width: 23px;
  height: 24px;
}
.logo1 {
  position: absolute;
  top: 30px;
  left: 4px;
  width: 121px;
  height: 80px;
}
.normalDiv10 {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-top: 3px;
  margin-left: 24px;
  background-size: contain;
  background-image: url(https://img.alicdn.com/imgextra/i4/O1CN01CMguLQ1mIu47Y7rAx_!!6000000004932-2-tps-856-102.png);
  width: 428px;
  height: 51px;
}
.info {
  margin-top: 19px;
  margin-left: 16px;
  line-height: 20px;
  white-space: nowrap;
  color: #999999;
  font-size: 22px;
}
.num {
  margin-top: 20px;
  line-height: 20px;
  white-space: nowrap;
  color: #ffaa00;
  font-size: 22px;
}
.txt2 {
  margin-top: 19px;
  margin-right: 14px;
  line-height: 20px;
  white-space: nowrap;
  color: #999999;
  font-size: 22px;
}
.word3 {
  margin-top: 16px;
  line-height: 26px;
  white-space: nowrap;
  color: #999999;
  font-size: 22px;
}
.text1 {
  margin-top: 16px;
  line-height: 26px;
  white-space: nowrap;
  color: #999999;
  font-size: 22px;
}
.txt3 {
  position: absolute;
  top: 142px;
  right: 247px;
  line-height: 26px;
  white-space: nowrap;
  color: #999999;
  font-size: 22px;
}
.word4 {
  position: absolute;
  top: 142px;
  right: 304px;
  line-height: 26px;
  white-space: nowrap;
  color: #999999;
  font-size: 22px;
}
.normalDiv11 {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-top: 13px;
  margin-left: 6px;
  background-size: contain;
  background-image: url(https://img.alicdn.com/imgextra/i4/O1CN01a29Ac91kr8R94SGpI_!!6000000004736-2-tps-730-728.png);
  width: 365px;
  height: 364px;
}
.colorDiv1 {
  margin-top: 16px;
  margin-left: 18px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.03);
  width: 319px;
  height: 319px;
  overflow: hidden;
}
.desc {
  position: absolute;
  top: 550px;
  left: 34px;
  line-height: 32px;
  white-space: nowrap;
  color: #333333;
  font-size: 24px;
  font-weight: 300;
}
.desc1 {
  position: absolute;
  top: 550px;
  right: 46px;
  line-height: 32px;
  white-space: nowrap;
  color: #333333;
  font-size: 24px;
  font-weight: 300;
}
.color2 {
  position: absolute;
  top: 206px;
  right: 25px;
  border-radius: 12px;
  background-color: #f5f5f5;
  width: 319px;
  height: 319px;
  overflow: hidden;
}
.normalDiv12 {
  display: flex;
  position: absolute;
  top: 193px;
  right: 7px;
  align-items: flex-start;
  justify-content: center;
  background-size: contain;
  background-image: url(https://img.alicdn.com/imgextra/i1/O1CN017BaFvj1QrKHrLkSkV_!!6000000002029-2-tps-712-712.png);
  width: 356px;
  height: 356px;
}
.colorDiv2 {
  margin-top: 13px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.03);
  width: 319px;
  height: 319px;
  overflow: hidden;
}
.moneyWrap {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-top: 36px;
  margin-left: 34px;
  width: 412px;
  height: 32px;
}
.moneyLabel {
  line-height: 28px;
  letter-spacing: 0.17px;
  white-space: pre;
  color: #3e3e3e;
  font-size: 28px;
}
.money {
  line-height: 28px;
  letter-spacing: 0.17px;
  white-space: pre;
  color: #3e3e3e;
  font-size: 28px;
}
.ft {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 24px;
}
.normalDiv13 {
  display: flex;
  position: relative;
  align-items: flex-start;
  height: 1018px;
}
.block3 {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  width: 744px;
}
.block4 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 72px;
  border-radius: 24px;
  background-color: #ffffff;
  width: 702px;
  height: 650px;
  overflow: hidden;
}
.shop {
  position: absolute;
  top: 190px;
  left: 7px;
  width: 364px;
  height: 364px;
}
.icon8 {
  position: absolute;
  top: 82px;
  left: 124px;
  width: 25px;
  height: 21px;
  overflow: hidden;
}
.block5 {
  display: flex;
  position: relative;
  align-items: flex-start;
  align-self: center;
  margin-top: 30px;
}
.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  border-radius: 40px;
  background-color: rgba(51, 51, 51, 0.03);
  overflow: hidden;
}
.normalDiv14 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-image: url(https://img.alicdn.com/imgextra/i4/O1CN01k44A2D1oTYVbk7vfc_!!6000000005226-2-tps-160-160.png);
}
.color3 {
  border-radius: 40px;
  background-color: rgba(51, 51, 51, 0.03);
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.block6 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 4px;
  margin-right: 99px;
}
.shopTitle1 {
  position: relative;
  margin-left: 4px;
  max-width: 295px;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 34px;
  white-space: nowrap;
  color: #333333;
  font-size: 30px;
  font-weight: 500;
}
.normalDiv15 {
  display: flex;
  position: relative;
  align-items: flex-end;
  margin-top: 5px;
}
.num1 {
  position: absolute;
  top: 6px;
  left: 38px;
  line-height: 28px;
  white-space: nowrap;
  color: #f2aa00;
  font-size: 24px;
  font-weight: 600;
}
.normalDiv16 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 36px;
}
.largeIcon1 {
  position: relative;
  width: 50px;
  height: 50px;
}
.icon9 {
  position: absolute;
  top: 21px;
  right: 18px;
  width: 10px;
  height: 9px;
  overflow: hidden;
}
.normalDiv17 {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 17px;
  height: 28px;
}
.shopTitle2 {
  margin-right: 14px;
  line-height: 24px;
  white-space: nowrap;
  color: #999999;
  font-size: 24px;
  font-weight: 300;
}
.txt4 {
  line-height: 24px;
  white-space: nowrap;
  color: #999999;
  font-size: 24px;
  font-weight: 300;
}
.icon10 {
  position: absolute;
  top: 46px;
  left: 92px;
  width: 23px;
  height: 24px;
}
.buttonWrap1 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-right: 28px;
  border-width: 2px;
  border-style: solid;
  border-radius: 24px;
  border-color: #ff9500;
  width: 110px;
  height: 48px;
}
.button1 {
  max-width: 98px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 26px;
  white-space: nowrap;
  color: #ff9500;
  font-size: 26px;
}
.icon11 {
  position: relative;
  margin-top: 35px;
  width: 18px;
  height: 10px;
}
.txtBgWrap {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-top: 3px;
  margin-left: 24px;
  width: 338px;
  height: 50px;
}
.txtBg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 338px;
  height: 50px;
}
.text2 {
  position: absolute;
  top: 16px;
  left: 123px;
  line-height: 26px;
  white-space: nowrap;
  color: #666666;
  font-size: 22px;
}
.txt5 {
  position: relative;
  margin-top: 16px;
  margin-right: 73px;
  margin-left: 16px;
  line-height: 26px;
  white-space: nowrap;
  color: #ff9500;
  font-size: 22px;
}
.word5 {
  position: relative;
  margin-top: 16px;
  margin-right: 32px;
  line-height: 26px;
  white-space: nowrap;
  color: #666666;
  font-size: 22px;
}
.text3 {
  position: relative;
  margin-top: 16px;
  line-height: 26px;
  white-space: nowrap;
  color: #666666;
  font-size: 22px;
}
.txt6 {
  position: absolute;
  top: 16px;
  right: 56px;
  line-height: 26px;
  white-space: nowrap;
  color: #666666;
  font-size: 22px;
}
.block7 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 24px;
  border-radius: 12px;
  background-color: #f5f5f5;
  width: 320px;
  height: 320px;
  overflow: hidden;
}
.colorDiv3 {
  position: relative;
  margin-top: 5px;
  margin-left: 48px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.03);
  width: 320px;
  height: 320px;
  overflow: hidden;
}
.layerWrap {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
  align-items: flex-start;
  flex-direction: column;
  width: 490px;
  height: 521px;
}
.layer {
  position: absolute;
  top: 0px;
  align-self: center;
  width: 490px;
  height: 521px;
}
.color4 {
  position: relative;
  margin-top: 5px;
  margin-left: 48px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.03);
  width: 320px;
  height: 320px;
  overflow: hidden;
}
.desc2 {
  position: relative;
  margin-top: 24px;
  margin-left: 58px;
  max-width: 374px;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 32px;
  white-space: nowrap;
  color: #333333;
  font-size: 24px;
  font-weight: 300;
}
.moneyWrap1 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: 58px;
  width: 412px;
  height: 32px;
}
.moneyLabel1 {
  line-height: 28px;
  letter-spacing: 0.17px;
  white-space: pre;
  color: #3e3e3e;
  font-size: 28px;
}
.money1 {
  line-height: 28px;
  letter-spacing: 0.17px;
  white-space: pre;
  color: #3e3e3e;
  font-size: 28px;
}
.desc3 {
  position: absolute;
  top: 550px;
  right: 64px;
  line-height: 32px;
  white-space: nowrap;
  color: #333333;
  font-size: 24px;
  font-weight: 300;
}
.colorDiv4 {
  display: flex;
  position: absolute;
  top: 206px;
  right: 42px;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.03);
  width: 320px;
  height: 320px;
  overflow: hidden;
}
.shopLong {
  position: absolute;
  right: 0px;
  bottom: 10px;
  width: 380px;
  height: 506px;
}
.cover {
  position: absolute;
  right: 18px;
  bottom: 44px;
  width: 702px;
  height: 300px;
  overflow: hidden;
}
.banner1 {
  position: absolute;
  right: 18px;
  bottom: 0px;
  width: 702px;
  height: 578px;
}
.normalDiv18 {
  display: flex;
  position: absolute;
  bottom: 16px;
  left: 0px;
  align-items: flex-start;
  background-size: contain;
  background-image: url(https://img.alicdn.com/imgextra/i1/O1CN016CyQKl1YIX7l3c37V_!!6000000003036-2-tps-1194-780.png);
  width: 597px;
  height: 390px;
}
.block8 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 38px;
  margin-left: 24px;
  background-size: contain;
  background-image: url(https://img.alicdn.com/imgextra/i4/O1CN01mEAKOp1WbeQVaEgqN_!!6000000002807-2-tps-1014-648.png);
  width: 507px;
  height: 324px;
}
.block9 {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 64px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: rgba(219, 188, 159, 0.9);
  padding-right: 20px;
  padding-left: 20px;
  height: 48px;
}
.text4 {
  line-height: 28px;
  white-space: nowrap;
  color: #2f1d06;
  font-size: 28px;
  font-weight: 500;
}
.title {
  webkit-box-orient: vertical;
  display: -webkit-inline-box;
  webkit-line-clamp: 2;
  position: relative;
  margin-top: 20px;
  margin-left: 28px;
  width: 240px;
  height: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 42px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
}
.group1 {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 24px;
  margin-left: 28px;
  height: 28px;
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  background-size: contain;
  background-image: url(https://img.alicdn.com/imgextra/i1/O1CN01XpP0Ki1pDoVonWtyy_!!6000000005327-2-tps-52-48.png);
  overflow: hidden;
}
.icon12 {
  width: 26px;
  height: 24px;
}
.word6 {
  line-height: 24px;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.85);
  font-size: 24px;
  font-weight: 300;
}
.normalDiv19 {
  display: flex;
  position: absolute;
  right: 18px;
  bottom: 0px;
  align-items: flex-end;
  flex-direction: column;
  background-size: contain;
  background-image: url(https://img.alicdn.com/imgextra/i1/O1CN01lCe7aA1NDX1fdtInA_!!6000000001536-2-tps-712-838.png);
  width: 356px;
  height: 419px;
}
.storeWrap {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 132px;
  background-size: contain;
  background-image: url(https://img.alicdn.com/imgextra/i3/O1CN01KJctGc1ncsxhnZRVN_!!6000000005111-2-tps-420-420.png);
  width: 210px;
  height: 210px;
  overflow: hidden;
}
.store {
  margin-top: -5px;
  width: 189px;
  height: 187px;
}
.block10 {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 3px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.35);
  width: 80px;
}
.color5 {
  border-radius: 3px;
  background-color: #ffffff;
  width: 16px;
  height: 6px;
}
.shopWrap {
  display: flex;
  position: absolute;
  right: 225px;
  bottom: 77px;
  align-items: flex-start;
  justify-content: center;
  width: 231px;
  height: 210px;
}
.shop1 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 210px;
  height: 210px;
  overflow: hidden;
}
.storeWrap1 {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 5px;
  background-size: contain;
  background-image: url(https://img.alicdn.com/imgextra/i3/O1CN01nwuXR41cGToUWK8y0_!!6000000003573-2-tps-456-368.png);
}
.store1 {
  margin-top: 4px;
  margin-left: 33px;
  width: 195px;
  height: 180px;
}
