* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: absolute;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  background-color: #fff;
  font-size: 14px;
}